
<div class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <a href="@Url.Action("List", "Products")" class="navbar-brand">
                <span class="glyphicon glyphicon-glass" aria-hidden="true"></span> Sklep Alkus
            </a>
        </div>

        <div class="navbar-right">

            <ul class="nav navbar-nav">
                <li>
                    <a href="@Url.Action("List", "ShoppingCart")">
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Koszyk
                    </a>
                </li>                  
            </ul>

            @Html.Partial("_ShopLoginPartial")
        </div>
    </div>
</div>