@model AlkusStore.Models.Entities.Orders

@{
    ViewBag.Title = "Alkus - Zamówienie zostało przyjęte";
    ViewBag.SelectedNavbarOption = "ShoppingCart";
}

<div class="container">
    
    <div class="panel" style="width: 60%; margin: auto;">
        <div class="panel-heading panel-primary">
            <h4>
                <span class="glyphicon glyphicon-info-sign"></span> Szczegoły twojego zamówienia 
            </h4>            
        </div>
        <div class="panel-body">
            <h5><strong>Data:</strong> @Model.Date</h5>
            <h5><strong>Szczegóły:</strong> @Model.Name</h5>
            <h5><strong>Koszt:</strong> @Model.Price</h5>
            <h5><strong>Status:</strong> @Model.Status</h5>
        </div>
    </div>

</div>
